<!--
  ~ Copyright © 2021 NeuroByte Tech. All rights reserved.
  ~
  ~ NeuroByte Tech is the Developer Company of Rohan Mathew.
  ~
  ~ Project: latinvocab
  ~ File Name: spring-run.run.xml
  ~ Last Modified: 25/05/2021, 10:14
  -->

<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="spring-run" type="SpringBootApplicationConfigurationType"
                   factoryName="Spring Boot">
        <module name="latinvocab"/>
        <extension name="coverage">
            <pattern>
                <option name="PATTERN" value="tech.neurobyte.dev.*"/>
                <option name="ENABLED" value="true"/>
            </pattern>
        </extension>
        <option name="SPRING_BOOT_MAIN_CLASS" value="tech.neurobyte.dev.Application"/>
        <option name="ALTERNATIVE_JRE_PATH"/>
        <option name="SHORTEN_COMMAND_LINE" value="NONE"/>
        <method v="2">
            <option name="Make" enabled="true"/>
        </method>
    </configuration>
</component>